<!DOCTYPE html>
<html lang="en" ng-app="wix">
<head>
    <meta charset="UTF-8">
    <title>Wix test</title>
    <link rel="stylesheet" href="build/style.css">
</head>
<body>
<div class="half"  ng-controller="MainController as main">
    <ul>
        <li ng-repeat="category in main.treeData()">
            <node category="category"></node>
        </li>
    </ul>
</div>
<div class="half" ng-controller="SecondController as controller">
    <div ng-include="'app/templates/IterativeNode.html'"></div>
</div>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/build/main.js"></script>
</body>
</html>