body, html
	margin: 0
	padding: 0
	font-family: Arial, sans-serif

a
	cursor: pointer

.half
	float: left
	width: 50%
	box-sizing: border-box
	padding: 10px

	pre
		width: 100%
		white-space: normal

ul
	list-style: circle
	li
		.title
			padding: 2px 10px
			margin-bottom: 2px
			border: 1px solid #dbdbdb
			display: inline-block
			border-radius: 5px
		input
			display: none
			padding: 2px 5px
		.add
			display: none
			text-decoration: none
			background-color: #7d0000
			color: white
			padding: 3px 5px
			font-weight: bold
			border-radius: 5px
			&:hover
				background-color: red
		.node-info
			padding: 3px
		.node-info:hover
			>.add, >input
				display: inline-block