<ul>
    <li ng-repeat="node in controller.treeData  track by $index" style="margin-left: {{40 * node.depth}}px">
        <div class="node-info">
            <span class="title">{{node.Title}}</span>
            <a class="add" ng-click="controller.setData(node.newName, node.ID, node)">+</a>
            <input ng-model="node.newName" type="text">
        </div>
    </li>
</ul>