<div class="node">
    <div class="node-info">
        <div class="title">
            {{category.Title}}
        </div>
        <a class="add" ng-click="setData(newName, category.ID)">+</a>
        <input ng-model="newName" type="text">
    </div>
    <ul ng-if="category.Children">
        <li ng-repeat="category in category.Children">
            <node category="category"></node>
        </li>
    </ul>
</div>
